.main {
    background: #FF8F77;
    color: #fff;
    display: flex;
    height: 1200px;

    &_content {
        margin: 60px auto;
        text-align: center;
        font-family: 'Mont';
        width: 530px;

        h1 {
            font-weight: bold;
            font-size: 84px;
        }

        p{
            font-size: 16px;
        }

       
    }
}

.card { 
    width: 400px;
    height: 400px;
}


.card_inner { 
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;
    font-family: 'Mont';
    font-weight: bold;

    &.is-flipped {
        transform: rotateY(180deg);
    }
}

.card_inner2 { 
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;
    font-family: 'Mont';
    font-weight: bold;

    &.is-flipped {
        transform: rotateY(180deg);
    }
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 2px;

    &-front {
        text-align: center;
        
        p{
            margin: auto;
        }
        
p {
    text-align: center;
    font-size: 200px;
}
    }

    &-back {
       display: flex;
       transform: rotateY(180deg);

        p{
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 12px ;
        }
    }
}

.mint {
    background: #A5FFF4;
}

.blue {
    background: #918EFF;
}
.yellow {
    background: #FFFA7C;
}

.large {
    width: 600px;
    height: 600px;
    grid-column: 1/3;
}

.medium {
    width: 400px;
    height: 400px;
    grid-column: 1/3;
}

.small {
    width: 300px;
    height: 300px;
}
.one {
    position: absolute;
    top: 400px;
}

.two {
    position: absolute;
    top: 600px;
    left: 320px;
}

.three {
    position: absolute;
    top: 700px;
    left: 540px;  
}

.four {
    position: absolute;
    top: 400px;
    left: 841px;  
}