body {
  overflow-x: hidden;
}

.main {
  background: #E2D97D;
  color: #fff;
  height: 200%;
}

.main_content {
  text-align: center;
  font-family: 'Mont';
  width: 530px;
}

.main_content h1 {
  font-weight: bold;
  font-size: 84px;
}

.main_content p {
  font-size: 16px;
}

.main_content .desc {
  font-size: 24px;
  margin-left: 84px;
  width: 54%;
  text-align: left;
  font-weight: 300;
}

.firstRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 600px;
  z-index: 5;
}

.card {
  position: relative;
}

.card_inner {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  position: absolute;
  font-family: 'Mont';
  font-weight: bold;
}

.card_inner.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 2px;
}

.card_face-front {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_face-front p {
  text-align: center;
  font-size: 200px;
}

.card_face-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card_face-back p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 12px;
}

.mint {
  background: #09E092;
}

.purple {
  background: #373FE0;
}

.yellow {
  background: #E0CE16;
}

.red {
  background: #FF5D44;
}

.large {
  width: 24.30vw;
  height: 24.30vw;
}

.medium {
  width: 20.83vw;
  height: 20.83vw;
}

.small {
  width: 17.36vw;
  height: 17.36vw;
}

.content {
  width: 65.6vw;
  height: 27.6vw;
  font-size: 32px;
}

.main_content .header {
  font-size: 100px;
  float: left;
  padding: 30px 84px 0px;
  white-space: nowrap;
}

.freeform1 {
  width: 59vw;
  height: 20.83vw;
}

.one {
  z-index: 1;
  -webkit-transform: translate(35%, 0%);
          transform: translate(35%, 0%);
}

.freeform2 {
  width: 20.55vw;
  height: 20.83vw;
}

.two {
  -webkit-transform: translate(240%, 0%);
          transform: translate(240%, 0%);
  float: right;
  z-index: 2;
}

.three {
  -webkit-transform: translate(210%, 0%);
          transform: translate(210%, 0%);
  z-index: 9;
}

.four {
  -webkit-transform: translate(164%, 120%);
          transform: translate(164%, 120%);
  z-index: 3;
}

.five {
  float: left;
  -webkit-transform: translate(-64%, 60%);
          transform: translate(-64%, 60%);
  z-index: 10;
}

.six {
  float: left;
  -webkit-transform: translate(-100%, 17%);
          transform: translate(-100%, 17%);
  z-index: 27;
}

.seven {
  float: left;
  -webkit-transform: translate(-184%, -70%);
          transform: translate(-184%, -70%);
  z-index: 27;
}

.eight {
  float: left;
  -webkit-transform: translate(-320%, -220%);
          transform: translate(-320%, -220%);
  z-index: 11;
}

.nine {
  float: left;
  -webkit-transform: translate(-248%, -172%);
          transform: translate(-248%, -172%);
  z-index: 6;
}

.ten {
  float: left;
  -webkit-transform: translate(-207%, -340%);
          transform: translate(-207%, -340%);
  z-index: 7;
}

.freeform3 {
  width: 35vw;
  height: 20.83vw;
}

.eleven {
  float: left;
  -webkit-transform: translate(-55%, -383%);
          transform: translate(-55%, -383%);
  z-index: 8;
}

.twelve {
  float: left;
  -webkit-transform: translate(0%, -574%);
          transform: translate(0%, -574%);
  z-index: 32;
}

.thirteen {
  float: left;
  -webkit-transform: translate(65%, -494%);
          transform: translate(65%, -494%);
  z-index: 29;
}

.forteen {
  float: left;
  -webkit-transform: translate(-130%, -124%);
          transform: translate(-130%, -124%);
  z-index: 27;
  opacity: 0;
}

.fifteen {
  float: left;
  -webkit-transform: translate(-130%, -124%);
          transform: translate(-130%, -124%);
  z-index: 27;
  opacity: 0;
}

.indexone {
  z-index: 200;
}

.mockup1 {
  z-index: 4;
}

.mockupImage1 {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./images/mockup1.jpg);
  height: 1600px;
}

.video {
  width: 100%;
  height: 1000px;
}

.video video {
  width: 100%;
}

.mockup2 {
  height: 800px;
}

.mockupImage2 {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(./images/mockup2.jpg);
  height: 100%;
  margin-top: 0;
}

.smallText h3 {
  font-size: 120px;
}

.smallText p {
  font-size: 14px;
  width: 60%;
}

.mediumText h3 {
  font-size: 150px;
}

.mediumText p {
  font-size: 18px;
}

.largeText h3 {
  font-size: 184px;
}

.largeText p {
  font-size: 24px;
  width: 70%;
  padding: 0 18px;
}

@media screen and (max-width: 1400px) {
  .main_content .header {
    font-size: 64px;
  }
}

.noTurn {
  cursor: pointer;
  position: absolute;
  font-family: 'Mont';
  font-weight: bold;
}

@media screen and (min-width: 1601px) {
  .mockup1 {
    margin-top: -10vw;
  }
}

@media screen and (max-width: 1600px) {
  .mockup1 {
    margin-top: -14vw;
  }
}

@media screen and (max-width: 1599px) {
  .mockup1 {
    margin-top: -20vw;
  }
}

.lastindex {
  z-index: 3000;
}
/*# sourceMappingURL=index.css.map */