.main {
    background: #FF8F77;
    color: #fff;
    

    &_content {
        margin: 60px auto;
        text-align: center;
        font-family: 'Mont';
        width: 530px;

        h1 {
            font-weight: bold;
            font-size: 84px;
        }

        p{
            font-size: 16px;
        }

       
    }
}

.card {
    width: 400px;
    height: 400px;
    
    
}

.card_inner {
    width: 400px;
    height: 400px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: absolute;
    font-family: 'Mont';
    font-weight: bold;

    &.is-flipped {
        transform: rotateY(180deg);
    }
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 2px;

    &-front {
        text-align: center;
        justify-content: center;
        
p {
    text-align: center;
    font-size: 200px;
}
    }

    &-back {
       display: flex;
       transform: rotateY(180deg);

        p{
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 12px ;
        }
    }
}

.mint {
    background: #A5FFF4;
}