.mockupRow1 {
  position: relative;
}

.mockupSmall1 {
  width: 59vw;
  height: 50vw;
  -webkit-transform: translate(0%, 44%);
          transform: translate(0%, 44%);
  position: relative;
}

.mockupSmall1 .mockupSmall1_inner {
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 59vw;
  height: 50vw;
}

.mockupSmall1 .mockupSmall1_inner.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.mockupSmall1 .mockupSmall1_inner .mockup_face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 2px;
}

.mockupSmall1 .mockupSmall1_inner .mockup_face-front {
  background-color: #FF5D44;
}

.mockupSmall1 .mockupSmall1_inner .mockup_face-back {
  background-image: url(./images/mockup11.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.mockupSmall2 {
  width: 41vw;
  height: 50vw;
  -webkit-transform: translate(144%, -55%);
          transform: translate(144%, -55%);
}

.mockupSmall2 video {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.mockupSmall3 {
  -webkit-transition: opacity 1.5s;
  transition: opacity 1.5s;
  width: 41vw;
  height: 25vw;
  -webkit-transform: translate(143.88%, -310%);
          transform: translate(143.88%, -310%);
  position: relative;
  opacity: 0;
}

.mockupSmall3 .mockupSmall3_inner {
  -webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity 1.5s;
  transition: transform 1.5s, opacity 1.5s, -webkit-transform 1.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  opacity: 0;
  width: 41vw;
  height: 28vw;
}

.mockupSmall3 .mockupSmall3_inner.visible {
  opacity: 1;
}

.mockupSmall3 .mockupSmall3_inner.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.mockupSmall3 .mockupSmall3_inner .mockup_face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 2px;
}

.mockupSmall3 .mockupSmall3_inner .mockup_face-front {
  background-color: #FF5D44;
}

.mockupSmall3 .mockupSmall3_inner .mockup_face-back {
  background-image: url(./images/mockup3.jpg);
  background-position: center;
  background-size: cover;
}

.mockupRow2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 400px;
}

.mockupPosters_container {
  width: 100%;
  height: 1000px;
  background: #FF5D44;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mockupPosters_container .poster1 {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  background-image: url(./images/poster1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 600px;
  opacity: 0;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.mockupPosters_container .poster1.visible {
  opacity: 1;
}

.mockupPosters_container .poster1.left {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.mockupPosters_container .poster2 {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  background-image: url(./images/poster2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: 600px;
  opacity: 0;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

.mockupPosters_container .poster2.visible {
  opacity: 1;
}

.mockupPosters_container .poster2.right {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.mockupSmall4 {
  width: 100%;
  height: 800px;
  padding: 40px 0;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.mockupSmall4.visible {
  opacity: 1;
}

.mockupSmall4 .mockupIg {
  background-image: url(./images/ig.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.mockupSmall5 {
  width: 100%;
  height: 800px;
  padding: 0;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.mockupSmall5.visible {
  opacity: 1;
}

.mockupSmall5 .mockupTshirt {
  background-image: url(./images/mockupCase.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.mockupSmall6 {
  width: 59vw;
  height: 50vw;
  -webkit-transform: translate(0%, -176%);
          transform: translate(0%, -176%);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.mockupSmall6.visible {
  opacity: 1;
}

.mockupSmall6 .mockupImage {
  background-image: url(./images/tshirt.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.mockupSmall7 {
  -webkit-transition: 1.5s;
  transition: 1.5s;
  width: 41vw;
  height: 50vw;
  -webkit-transform: translate(144%, -276%);
          transform: translate(144%, -276%);
  position: relative;
  opacity: 0;
}

.mockupSmall7 .mockupSmall7_inner {
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  width: 41vw;
  height: 50vw;
}

.mockupSmall7 .mockupSmall7_inner.visible {
  opacity: 1;
}

.mockupSmall7 .mockupSmall7_inner.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.mockupSmall7 .mockupSmall7_inner .mockup_face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 2px;
}

.mockupSmall7 .mockupSmall7_inner .mockup_face-front {
  background-color: #FF5D44;
}

.mockupSmall7 .mockupSmall7_inner .mockup_face-back {
  background-image: url(./images/mockup2.jpg);
  background-position: center;
  background-size: cover;
}

.mockupRow1 {
  max-height: 1200px;
}

@media screen and (min-width: 1030px) {
  .mockupSmall1 {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .mockupSmall2 {
    -webkit-transform: translate(144%, -101%);
            transform: translate(144%, -101%);
  }
  .mockupPosters_container {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
}

@media screen and (min-width: 1230px) {
  .mockupSmall3 {
    -webkit-transform: translate(143.88%, -276%);
            transform: translate(143.88%, -276%);
  }
}

@media screen and (min-width: 1279px) {
  .mockupSmall1 {
    -webkit-transform: translate(0%, 18%);
            transform: translate(0%, 18%);
  }
  .mockupSmall2 {
    -webkit-transform: translate(144%, -81%);
            transform: translate(144%, -81%);
  }
  .mockupSmall3 {
    -webkit-transform: translate(143.88%, -270%);
            transform: translate(143.88%, -270%);
  }
  .mockupPosters_container {
    -webkit-transform: translateY(-85%);
            transform: translateY(-85%);
  }
}

@media screen and (min-width: 1300px) {
  .mockupSmall3 {
    -webkit-transform: translate(143.88%, -276%);
            transform: translate(143.88%, -276%);
  }
  .mockupSmall5 {
    -webkit-transform: translateY(-146%);
            transform: translateY(-146%);
  }
}

@media screen and (max-width: 1280px) {
  .mockupSmall5 {
    -webkit-transform: translateY(-145.5%);
            transform: translateY(-145.5%);
  }
}

.visible {
  opacity: 1;
}
/*# sourceMappingURL=mockups.css.map */